<div class="d-flex">
    <div class="form-check-input man-checkbox"
           (click)="onClick($event)"
           (blur)="onBlur($event)"
           (focus)="onFocus($event)">
        <i class="far fa-check" *ngIf="((_value | async) === true && displayValue === null) || displayValue === true"></i>
        <i class="far fa-minus" *ngIf="displayValue === 'indeterminate'"></i>
    </div>
    <div class="checkbox-label">
        <span (click)="onClick($event)">
            <ng-content></ng-content>
        </span>
    </div>
    <div class="flex-fill"></div>
</div>
