<div class="form-control man-select"
     [class.disabled]="_disabled"
     [tabindex]="(_disabled || isOpen) ? -1 : _tabIndex"
     #input
     cdkOverlayOrigin
     #origin="cdkOverlayOrigin"
     (click)="onClick()"
     (keydown)="onKeyDown($event)"
     (blur)="onBlur($event)"
     (focus)="onFocus($event)"
>
    <div
        [class.placeholder]="optionListRef.selectedOption.value?.placeholder === true"
    >
        {{ optionListRef.selectedOption.value?.label }}
    </div>

    <i class="caret far fa-spinner-third fa-spin" *ngIf="optionListRef.isLoading"></i>
    <i class="caret far fa-chevron-down" *ngIf="!optionListRef.isLoading && !isOpen"></i>
    <i class="caret far fa-times" *ngIf="!optionListRef.isLoading && isOpen"></i>
</div>

<ng-template
    #overlay
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    (overlayOutsideClick)="onOutsideClick($event)"
    (detach)="isOpen = false"
>
    <man-select-dropdown
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        (newValue)="this.isOpen = false; _value.next($event)"
        (clickCreate)="onClickCreate($event)"
        [tindex]="_tabIndex"
        [value]="_value | async"
        [optionListRef]="optionListRef"
        [disableCreate]="disableCreate"
    ></man-select-dropdown>
</ng-template>
