<input
    #inner
    *ngIf="rows === 1"
    class="form-control man-text"
    [class.disabled]="_disabled"
    [attr.type]="mask === 'password' ? 'password' : 'text'"
    [attr.placeholder]="_placeholder.value"
    [tabindex]="_disabled ? -1 : _tabIndex"
    [value]="controlValue"
    (input)="handleInput($event.target.value)"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    [attr.disabled]="_disabled ? '' : null"
/>

<textarea
    #inner
    *ngIf="rows > 1"
    class="form-control man-text"
    [attr.rows]="rows"
    [attr.placeholder]="_placeholder.value"
    [attr.tabindex]="_tabIndex"
    [value]="controlValue"
    (input)="handleInput($event.target.value)"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    [disabled]="_disabled"
></textarea>

<i *ngIf="required" class="required far fa-fw fa-asterisk"></i>
